# Getting Started and Loading/Exploring Data

In [1]:
import pandas as pd
df = pd.read_csv('results.csv')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

# Q1.What is the average number of goals for the home team?
Hint: You can call the mean() method on the 'home_score' column.

In [5]:
df['home_score'].mean()

1.7393136930376256

# Q2: What is the average number of goals for the away team?
Hint: You can call the mean() method on the 'away_score' column.

In [7]:
df['away_score'].mean()

1.1782412004854905

# Q3: What is the country with the highest overall home score?
Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the idxmax() function to find the index(country) with the highest sum.

In [19]:
df.groupby(['country'])['home_score'].sum().idxmax()

'United States'

# Q4: What are the top 3 type of tournaments?
Hint: You can use the value_counts() method to count the occurences of each unique value in the 'tournament' column.

In [22]:
df['tournament'].value_counts().head(3)

tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

# Q5: Which country has the highest overall FIFA World Cup goals?

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [7]:
fifa_df = df[df['tournament'] == 'FIFA World Cup'].copy()
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True

**5.2 In your new fifa_df, create a new 'total_score' column that sums 'home_score' + 'away_score' for each row.**

In [9]:
fifa_df = fifa_df.assign(total_score = fifa_df['home_score'] + fifa_df['away_score'])
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,3
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,5
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,3
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,4
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1
...,...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True,3
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True,3
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True,2
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True,3
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True,6

**5.3 Group your data by country, then get the sum of the 'total_score' column. From there, you can use idxmax() to find the country with the highest 'total_score'.**

In [11]:
fifa_df.groupby(['country'])['total_score'].sum().idxmax()

'Brazil'